<div class="pb-4">Seleccione tres animales en el orden correcto</div>
<div class="row row-cols-1 row-cols-md-3 g-4 ">
    <ng-container *ngFor="let icono of iconosAnimales">
        <div class="col" style="cursor: pointer;" (click)="itemSeleccionado(icono)" [title]="icono.nombre|titlecase">
            <fa-icon [icon]="icono.icono" size='5x'></fa-icon>
        </div>
    </ng-container>

    <div class="col d-flex justify-content-end">
        <button type="button" class="btn btn-secondary" (click)="limpiarContrasenia()">Limpiar</button>

    </div>
</div>